<div class="artist-details-container">
  <ng-container *ngIf="artist$ | async as artist">
    <div class="artist-info-container">
      <ng-container *ngIf="artist.image$ | async as imageUrl">
        <img [src]="!!imageUrl ? imageUrl : ''">
      </ng-container>

      <div class="artist-info-main">
        <h1>{{artist.name}}</h1>

        <div class="actions">
          <button (click)="addNewAlbum()" mat-flat-button>Add new album</button>
        </div>
      </div>
    </div>
  </ng-container>

  <table [dataSource]="albums$ | async" class="albums-table" mat-table role="grid">
    <ng-container matColumnDef="image">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let album" class="cell" mat-cell>
        <img src="{{album.image$ | async}}">
      </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th *matHeaderCellDef mat-header-cell>Year</th>
      <td *matCellDef="let album" mat-cell>{{album.year}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>Album</th>
      <td *matCellDef="let album" mat-cell>{{album.name}}</td>
    </ng-container>

    <tr *matHeaderRowDef="['image', 'year', 'name']" mat-header-row></tr>
    <tr *matRowDef="let row; columns: ['image', 'year', 'name']; let album" [appCtxMatMenuTriggerFor]="menu"
        [matMenuTriggerData]="{album: album}"
        mat-row></tr>
  </table>
</div>


<mat-menu #menu="matMenu">
  <ng-template let-album="album" matMenuContent>
    <button (click)="onDeleteAlbum(album.id)" mat-menu-item>Delete</button>
  </ng-template>
</mat-menu>
