<mat-card [appCtxMatMenuTriggerFor]="menu" role="group">
  <mat-card-header>
    <mat-card-title>
      <div class="title-text">
        {{ album.name }}
      </div>
    </mat-card-title>
    <mat-card-subtitle>
      {{ album.year }}
    </mat-card-subtitle>
  </mat-card-header>
  <div class="artist-image-container" mat-card-image>
    <ng-container *ngIf="album.image$ | async as image">
      <img [src]="image" alt="" />
    </ng-container>
  </div>
</mat-card>

<mat-menu #menu="matMenu">
  <button (click)="onDelete()" mat-menu-item>Delete</button>
</mat-menu>
