<div mat-dialog-title>{{ data.title }}</div>
<form #form="ngForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-list>
      <mat-radio-group
        [(ngModel)]="selected"
        name="radioGroup"
        required
      >
        <mat-list-item *ngFor="let item of data.names">
          <mat-radio-button [value]="item">{{ item }}</mat-radio-button>
        </mat-list-item>
      </mat-radio-group>
    </mat-list>
  </mat-dialog-content>
  <div align="end" mat-dialog-actions>
    <button [disabled]="!form.valid" mat-button type="submit">OK</button>
    <button mat-button mat-dialog-close type="button">Cancel</button>
  </div>
</form>
