<mat-card role="group" [appCtxMatMenuTriggerFor]="menu">
  <mat-card-header>
    <mat-card-title>
        <div class="title-text">
          {{artist.name}}
        </div>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="artist.image$ | async" alt="">
  <mat-card-content>
    <p>Albums</p>
    <ul>
      <li *ngFor="let album of (albums$ | async)">{{album.date}} {{album.title}}</li>
    </ul>
  </mat-card-content>
</mat-card>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onDelete()">Delete</button>
</mat-menu>
