@import "~@angular/material/theming";

.mat-card {
  @include mat-elevation-transition();
  @include mat-elevation(8);

  margin: 8px;

  transition: all .2s ease-in-out;

  &:hover {
    @include mat-elevation(12);
    transform: scale(1.05);
  }

  img {
    width: 250px;
    height: 250px;
  }
}
