.artists-library {
  display: flex;
  flex-direction: column;

  //mat-paginator {
  //  position: sticky;
  //  top: 0;
  //  width: 100%;
  //  left: 0;
  //  z-index: 2;
  //  height: 56px;
  //}

  .artists-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }
}
