<div class="artists-library">
  <div class="actions">
    <a mat-flat-button (click)="onNewArtist()">New artist</a>
  </div>

  <ng-container *ngIf="artists$ | async as artists">
    <div class="artists-container">
      <app-artist-card (deleteArtist)="deleteArtist($event)"
                       [artist]="artist"
                       *ngFor="let artist of artists; trackBy: trackById"
                       (click)="onClick(artist)"
      ></app-artist-card>
    </div>
  </ng-container>

</div>
