<mat-card role="group" [appCtxMatMenuTriggerFor]="menu">
  <mat-card-header>
    <mat-card-title>
      <div class="title-text">{{artist?.name}}</div>
    </mat-card-title>
  </mat-card-header>
  <div class="artist-image-container" mat-card-image>
    <ng-container *ngIf="artist?.image$ | async as image">
      <img [src]="image" alt="">
    </ng-container>
  </div>
</mat-card>

<mat-menu #menu="matMenu">
  <button (click)="onDelete()" id="deleteButton" mat-menu-item>Delete</button>
</mat-menu>
