<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="image-selector col-2">
    <img [src]="imagePreview" alt="Artist image" class="image-preview">
    <input type="file" accept="image/png, image/jpeg, image/jpg"
           placeholder="Image url"
           (change)="onFileSelected($event)"
    >
  </div>

  <div class="fields">
    <mat-form-field>
      <input class="artist-input" formControlName="name" matInput placeholder="Artist"
             type="text">
    </mat-form-field>
  </div>
  <div class="actions">
    <button [disabled]="!form.valid" mat-button type="submit">Submit</button>
    <button mat-button routerLink="../" type="button">Cancel</button>
  </div>

</form>
