@import "~@angular/material/theming";

mat-toolbar {
  @include mat-elevation(4);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;


  .spacer {
    flex: 1 1 auto;
  }

  .status-container {
    padding: 0;
    height: 2px;
    overflow: hidden;
  }
}
