@import '~@angular/material/theming';
@import '~src/styles/variables';
@import '~src/styles/mixins';

.artist-details-container {
  padding: 8px;

  .artist-info-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 8px;

    .artist-info-main {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      flex-grow: 1;
      padding: 8px;

      h1 {
        margin-top: 0;
      }
    }

    .artist-image {
      @include mat-elevation(4);
    }
  }

  .albums-table {
    width: 100%;

    .mat-row {
      &:hover {
        background-color: mat-color($background, hover);
      }
    }

    td {
      img {
        height: 48px;
        width: 48px;
        object-fit: contain;
        background-color: black;
      }
    }
  }
}
