<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="dialog-content" mat-dialog-content>
    <app-image-selector [altText]="'Artist image'"
                        (imageSelected)="onImageSelected($event)"
    ></app-image-selector>

    <div class="fields">
      <mat-form-field>
        <label>
          <input type="text" required placeholder="Artist" matInput
                 [(ngModel)]="artistData.name" name="name">
        </label>
      </mat-form-field>
    </div>

  </div>

  <div align="end" mat-dialog-actions>
    <button [disabled]="!form.valid" mat-button type="submit">OK</button>
    <button mat-button mat-dialog-close type="button">Cancel</button>
  </div>
</form>
