<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="dialog-content" mat-dialog-content>
    <app-image-selector
      [altText]="'Artist image'"
      (imageSelected)="onImageSelected($event)"
    ></app-image-selector>

    <div class="fields">
      <mat-form-field>
        <label>
          <input
            type="text"
            required
            placeholder="Artist"
            matInput
            [(ngModel)]="artistData.name"
            (ngModelChange)="nameChanged($event)"
            name="name"
            [matAutocomplete]="similarArtists"
          />
        </label>
      </mat-form-field>
    </div>
  </div>

  <div align="end" mat-dialog-actions>
    <button [disabled]="!form.valid" mat-button type="submit">OK</button>
    <button mat-button mat-dialog-close type="button">Cancel</button>
  </div>
</form>


<mat-autocomplete #similarArtists>
  <mat-option *ngFor="let similar of similarArtists$ | async" [value]="similar">{{similar}}</mat-option>
</mat-autocomplete>
