.image-selector {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border: 1px dotted gray;

  .image-preview {
    font-size: 24px;
    text-align: center;
  }

  .fileChooser {
    display: none;
  }

  .info-text {
    text-align: center;
  }

  .actions {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .select-button {
    align-self: center;
  }

  .image-300-container {
    &.drag * {
      pointer-events: none;
    }
  }
}